body {
  background: #f5f6f7;
  color: #1b1b32;
  font-family: Helvetica;
  margin: 0;
}

header {
  width: 100%;
  height: 50px;
  background-color: #1b1b32;
  display: flex;
}

h1 {
  color: #f1be32;
  font-size: min(5vw, 1.2em);
  font-family: Verdana, Arial;
}

h1, h2 {
  font-family: Verdana, Arial;
}

h2 {
  font-family: Verdana, Arial;
  border-bottom: 4px solid #dfdfe2;
}

/*A useful property of an SVG (scalable vector graphics) is that it contains a path attribute which allows the image 
to be scaled without affecting the resolution of the resultant image*/

/*In this example, img elements will have a minimum width of 100px. 
And as the viewport grows, the image will grow accordingly to be 18 percent of the viewport width*/

/*The aspect-ratio CSS property allows you to define the desired width-to-height ratio of an element's box. 
This means that even if the parent container or viewport size changes, 
the browser will adjust the element's dimensions to maintain the specified width-to-height ratio*/
#logo {
  width: max(100px, 18vw);
  background-color: #0a0a23;
  aspect-ratio: 35 / 4;
  padding: 0.4rem;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
}




